services:
  - type: web
    name: ppe-detection-system
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: DEVICE
        value: cpu
      - key: PYTHON_VERSION
        value: 3.11.0
